<div class="login__form">
	<label class="login__subtext">{{label}}</label>
	<input autocomplete="off" id="{{id}}" type="{{typetext}}" class="login__input {{style}}" name="{{name}}"
		placeholder="" required>
</div>
